<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png"
	href="./images/favicon-16.png?alt=media" sizes="16x16">
<link rel="icon" type="image/png"
	href="./images/favicon-32.png?alt=media" sizes="32x32">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Care Directory - Diseases</title>

<style nonce="raNd0m">
ul#disease-list {
	max-height: 80vh;
	overflow-y: auto;
}
</style>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-2">
				<div th:replace="fragments/sidebar :: admin_sidebar"></div>
			</div>

			<div th:switch="${page}" class="col-xs-8 col-md-10">

				<div th:case="diseases_list">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<div class="input-group">
											<input type="text" class="form-control"
												placeholder="Search available diseases" id="search">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button">
													<span class="glyphicon glyphicon-search"></span>
												</button>
												<button id="add-disease" class="btn btn-success"
													type="button">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
					<ul class="list-group well" id="disease-list">
						<th:block th:each="disease_list : ${diseases_list}">
							<li class="list-group-item">
								<div class="row" id="disease-list">
									<a class="col-xs-8 col-md-8 no-text-decoration">[[${disease_list.disease_name}]]
									</a>
									<div th:if="${disease_list.enabled == 'Y'}"
										class="col-xs-4 col-md-4">
										<label class="switch"> <input type="checkbox" checked
											th:id="${disease_list.disease_name}" role="switch"
											th:data-param1="${disease_list.enabled}"
											th:data-param2="${disease_list.disease_name}"
											th:data-param3="${disease_list.disease_id}"> <span
											class="slider round"></span>
										</label>
										<!--										<input type="checkbox" class="custom-control-input" th:id="${disease_list.disease_name}" role="switch" style="float: right" checked th:data-param1="${disease_list.enabled}" th:data-param2="${disease_list.disease_name}" th:data-param3="${disease_list.disease_id}" onclick="toggleDisease(this.getAttribute('data-param1'), this.getAttribute('data-param2'), this.getAttribute('data-param3'))">-->
										<!--										<label class="custom-control-label" th:for="${disease_list.disease_name}">Enable/Disable Disease</label>-->
									</div>
									<div th:unless="${disease_list.enabled == 'Y'}"
										class="col-xs-4 col-md-4">
										<label class="switch"> <input type="checkbox"
											th:id="${disease_list.disease_name}" role="switch"
											th:data-param1="${disease_list.enabled}"
											th:data-param2="${disease_list.disease_name}"
											th:data-param3="${disease_list.disease_id}"> <span
											class="slider round"></span>
										</label>
									</div>
								</div>
							</li>
							<br>
						</th:block>
					</ul>
				</div>
				<div th:case="'disease_details'">
					<div class="container-fluid">
						<form class="form-horizontal" action="/admin/disease/add"
							method="post" onsubmit="return addDisease();">
							<div class="row">
								<div th:if="${error}" class="alert alert-danger">
									[[${error}]]</div>
								<div th:if="${success}" class="alert alert-success">
									[[${success}]]</div>
								<div class="col-xs-12 col-md-12">
									<label for="diseaseName">Disease Name</label> <input
										type="text" class="form-control" name="diseaseName"
										id="diseaseName" required="required">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label for="disease-remark">Additional Remark</label>
									<textarea class="form-control" id="disease-remark"
										name="disease-remark"></textarea>
								</div>
							</div>
							<div class="row" id="submit-disease-row">
								<div class="col-xs-12 col-md-12">
									<br />
									<button id="add-disease-button" class="btn btn-primary"
										type="submit">Add Disease</button>
								</div>
							</div>
							<input type="hidden" name="email_id" id="email_id"
								th:value="${session.userInfo.email_id}" />
						</form>
					</div>

					<script nonce="rAnd0m" type="text/javascript">
						function addDisease() {
							document.forms[0].submit();
							return true;
						}
					</script>

				</div>

				<div th:case="*">[[${page}]]</div>
			</div>
		</div>
	</div>
</body>
<script nonce="rAnd0m" type="text/javascript">
	function toggleDisease(currentToggleValue, diseaseName, diseaseId) {
		toggleString = (currentToggleValue === 'Y') ? 'disable' : 'enable'
		response = confirm('Do you want to ' + toggleString + " " + diseaseName
				+ " disease");
		if (response) {
			toggleValue = (toggleString === 'disable') ? 'N' : 'Y';
			jsonData = {
				"toggleValue" : toggleValue,
				"diseaseId" : diseaseId
			}
			$.ajax({
				type : 'POST',
				url : '/admin/disease/toggle',
				data : jsonData,
				success : function(result) {
					location.reload();
				},
				error : function(error) {
					console.log("Caught error: " + error.toString());
				}
			});
		} else {
			location.reload();
		}
	}
	$("#disease-list input[type='checkbox']").each(
			function(i, chkbox) {
				$(chkbox).click(
						function() {
							toggleDisease(this.getAttribute('data-param1'),
									this.getAttribute('data-param2'), this
											.getAttribute('data-param3'));
						});
			});
	$(document).ready(function() {
		$("#add-disease").click(function() {
			window.location.href = '/admin/disease/add';
		});
	});
</script>
</html>