<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link rel="icon" type="image/png"
	href="./images/favicon-16.png?alt=media" sizes="16x16">
<link rel="icon" type="image/png"
	href="./images/favicon-32.png?alt=media" sizes="32x32">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Care Directory - Register</title>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-2">
				<div th:replace="fragments/sidebar :: admin_sidebar"></div>
			</div>
			<div class="col-xs-8 col-md-10">
				<div th:if="${ not#lists.isEmpty(users)}">
					<table class="table" id="user-approval-table">
						<thead>
							<tr>
								<th scope="col" hidden="true">User Id</th>
								<th scope="col">E-mail</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Approve/Change Role</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${users}">
								<td scope="row" hidden="true" th:text="${user.userId}"></td>
								<td scope="row" th:text="${user.email_id}"></td>
								<td scope="row" th:text="${user.first_name}"></td>
								<td scope="row" th:text="${user.last_name}"></td>
								<td>
									<button class="btn btn-primary" data-toggle="modal"
										th:attr="data-target=${'#updateUserModal' +user.userId}"
										data-row="${user}">Approve</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script nonce="rAnd0m">
		$(document).ready(function() {
			$('#user-approval-table').DataTable({
				bLengthChange : false,
				"autoWidth" : false,
				"sScrollX" : "100%",
				scrollY : '70vh',
				scrollCollapse : true,
				paging : false,
			});
		});
	</script>

	<div th:if="${users}" th:each="user : ${users}" class="container">
		<div class="modal fade"
			th:attr="id=${'updateUserModal' + user.userId}" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title inline" id="exampleModal">Approve/
							Update User Details</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form id="edit-user" action="/admin/editUserData"
							th:object="${user}" method="post">
							<!-- 2 column grid layout with text inputs for the first and last names -->
							<script nonce="rAnd0m" th:inline="javascript">
								var userInfo = /*[[${row}]]*/[];
							</script>
							<input type="hidden" name="hidden_email_id" id="hidden_email_id"
								th:value="${session.userInfo.email_id}" />
							<div class="col-xs-6 col-md-4">
								<label class="form-label" for="email_id">Email Id:</label> <input
									class="form-control" id="email_id" name="email_id"
									th:value="${user.email_id}" readonly>
							</div>
							<div class="col-xs-6 col-md-4">
								<label class="form-label" for="first_name">First Name:</label> <input
									class="form-control" id="first_name" name="first_name"
									th:value="${user.first_name}" readonly>
							</div>
							<div class="col-xs-6 col-md-4">
								<label class="form-label" for="email_id">Last Name:</label> <input
									class="form-control" id="last_name" name="last_name"
									th:value="${user.last_name}" readonly>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<br /> <br />
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" form="edit-user" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>