<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png"
	href="./images/favicon-16.png?alt=media" sizes="16x16">
<link rel="icon" type="image/png"
	href="./images/favicon-32.png?alt=media" sizes="32x32">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Care Directory - Services</title>

<style nonce="raNd0m">
ul#service-list {
	max-height: 80vh;
	overflow-y: auto;
}
</style>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-2">
				<div th:replace="fragments/sidebar :: admin_sidebar"></div>
			</div>

			<div th:switch="${page}" class="col-xs-8 col-md-10">

				<div th:case="'service_details'">
					<div class="container-fluid">
						<form class="form-horizontal" action="/admin/service/add"
							method="post" onsubmit="return addService();">
							<div class="row">
								<div th:if="${error}" class="alert alert-danger">
									[[${error}]]</div>
								<div th:if="${success}" class="alert alert-success">
									[[${success}]]</div>
								<div class="col-xs-12 col-md-12">
									<label for="serviceName">Service Name</label> <input
										type="text" class="form-control" name="serviceName"
										id="serviceName" required="required">
								</div>
							</div>
							<div class="row" id="add-row">
								<div class="col-xs-12 col-md-12">
									<label>Attributes</label>
									<button id="add-row-button" class="btn btn-success">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
								<div class="col-xs-12 col-md-12">
									<div class="row" id='custom-service-input'></div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<label for="remark">Additional Remark</label>
									<textarea class="form-control" id="remark" name="remark"></textarea>
								</div>
							</div>
							<div class="row" id="submit-row">
								<div class="col-xs-12 col-md-12">
									<br />
									<button id="add-service-button" class="btn btn-primary"
										type="submit">Add Service</button>
								</div>
							</div>
							<input type="hidden" name="email_id" id="email_id"
								th:value="${session.userInfo.email_id}" />
						</form>
					</div>

					<script nonce="rAnd0m" type="text/javascript">
						function addRow() {
							var cell = $("<div>", {
								"class" : "col-xs-12 col-md-12 attribute-row"
							});

							var group = $("<div>", {
								"class" : "input-group"
							});

							var input = $("<input>", {
								"type" : "text",
								"class" : "form-control",
								"placeholder" : "Add Attribute",
								"id" : "attribute",
								"name" : "attribute"
							});

							var span = $("<span>", {
								"class" : "input-group-btn"
							});
							var btn = $("<button>", {
								"class" : "btn btn-danger",
							});

							var minus = "<span class='glyphicon glyphicon-minus'></span";
							$(btn).html(minus);
							$(span).html(btn);
							$(group).html(input);
							$(group).append(span);
							$(cell).html(group);

							$("#custom-service-input").append(cell);
							$(btn).click(function() {
								return removeRow(this);
							});
							return false;
						}

						addRow();

						function removeRow(ele) {

							var count = $("#custom-service-input .attribute-row").length;
							if (count > 1) {
								$(ele).parent().parent().parent().remove();
							} else {
								alert("Last row cannot be removed");
							}
							return false;
						}

						function addService() {
							document.forms[0].submit();
							return true;
						}
					</script>

				</div>
				<div th:case="services_list">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<div class="input-group">
											<input type="text" class="form-control"
												placeholder="Search available services" id="search">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button">
													<span class="glyphicon glyphicon-search"></span>
												</button>
												<button id="add-service" class="btn btn-success"
													type="button">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
					<ul class="list-group well" id="service-list">
						<th:block th:each="service_list : ${services_list}">
							<li class="list-group-item">
								<div class="row" id="services-list">
									<a class="col-xs-8 col-md-8 no-text-decoration">[[${service_list.service_name}]]
									</a>
									<div th:if="${service_list.enabled == 'Y'}"
										class="col-xs-4 col-md-4">
										<label class="switch"> <input type="checkbox" checked
											th:id="${service_list.service_name}" role="switch"
											th:data-param1="${service_list.enabled}"
											th:data-param2="${service_list.service_name}"
											th:data-param3="${service_list.service_id}"> <span
											class="slider round"></span>
										</label>
										<!--										<input type="checkbox" class="custom-control-input" th:id="${service_list.service_name}" role="switch" style="float: right" checked th:data-param1="${service_list.enabled}" th:data-param2="${service_list.service_name}" th:data-param3="${service_list.service_id}" onclick="toggleService(this.getAttribute('data-param1'), this.getAttribute('data-param2'), this.getAttribute('data-param3'))">-->
										<!--										<label class="custom-control-label" th:for="${service_list.service_name}">Enable/Disable Service</label>-->
									</div>
									<div th:unless="${service_list.enabled == 'Y'}"
										class="col-xs-4 col-md-4">
										<label class="switch"> <input type="checkbox"
											th:id="${service_list.service_name}" role="switch"
											th:data-param1="${service_list.enabled}"
											th:data-param2="${service_list.service_name}"
											th:data-param3="${service_list.service_id}"> <span
											class="slider round"></span>
										</label>
									</div>
								</div>
							</li>
							<br>
						</th:block>
					</ul>
				</div>

				<div th:case="*">[[${page}]]</div>
			</div>
		</div>
	</div>
</body>
<script nonce="rAnd0m" type="text/javascript">
	function toggleService(currentToggleValue, serviceName, serviceId) {
		toggleString = (currentToggleValue === 'Y') ? 'disable' : 'enable'
		response = confirm('Do you want to ' + toggleString + " " + serviceName
				+ " service");
		if (response) {
			toggleValue = (toggleString === 'disable') ? 'N' : 'Y';
			jsonData = {
				"toggleValue" : toggleValue,
				"serviceId" : serviceId
			}
			$.ajax({
				type : 'POST',
				url : '/admin/service/toggle',
				data : jsonData,
				success : function(result) {
					location.reload();
				},
				error : function(error) {
					console.log("Caught error: " + error.toString());
				}
			});
		} else {
			location.reload();
		}
	}

	$("#services-list input[type='checkbox']").each(
			function(i, chkbox) {
				$(chkbox).click(
						function() {
							toggleService(this.getAttribute('data-param1'),
									this.getAttribute('data-param2'), this
											.getAttribute('data-param3'))
						});
			});
	$(document).ready(function() {
		$("#add-row-button").click(function() {
			return addRow();
		});
		$("#add-service").click(function() {
			window.location.href = '/admin/service/add';
		});
	});
</script>
</html>