<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="header">

		<link rel="stylesheet"
			th:href="@{'/webjars/bootstrap/3.4.1/css/bootstrap.min.css'}" />
		<link rel="stylesheet"
			th:href="@{'/webjars/bootstrap-multiselect/0.9.13-1/css/bootstrap-multiselect.css'}" />

		<link rel="icon" type="image/png"
			href="./images/favicon-16.png?alt=media" sizes="16x16">
		<link rel="icon" type="image/png"
			href="./images/favicon-32.png?alt=media" sizes="32x32">
		<link rel="stylesheet" th:href="@{'/css/app.css'}" />
		<link rel="stylesheet"
			th:href="@{'/webjars/datatables/1.11.4/css/common.min.css'}" />
		<link rel="stylesheet"
			th:href="@{'/webjars/datatables/1.11.4/css/dataTables.bootstrap.min.css'}" />
		<link rel="stylesheet"
			th:href="@{'/webjars/datatables/1.11.4/css/jquery.dataTables_themeroller.css'}" />
		<link rel="stylesheet"
			th:href="@{'/webjars/datatables/1.11.4/css/jquery.dataTables.min.css'}" />



		<script nonce="rAnd0m" type="text/javascript"
			th:src="@{'/webjars/jquery/3.6.0/jquery.min.js'}"></script>

		<script nonce="rAnd0m" type="text/javascript"
			th:src="@{'/webjars/bootstrap/3.4.1/js/bootstrap.min.js'}"></script>

		<script nonce="rAnd0m" type="text/javascript"
			th:src="@{'/webjars/bootstrap-multiselect/0.9.13-1/js/bootstrap-multiselect.js'}"></script>

		<script nonce="rAnd0m" type="text/javascript"
			th:src="@{'/webjars/datatables/1.11.4/js/jquery.dataTables.min.js'}"></script>
		<script nonce="rAnd0m" type="text/javascript"
			th:src="@{'/webjars/datatables/1.11.4/js/dataTables.bootstrap.min.js'}"></script>

		<script nonce="rAnd0m" type="text/javascript"
			th:src="@{'/scripts/app.js'}"></script>

		<script nonce="rAnd0m" th:inline="javascript">
			var userInfo = /*[[${session.userInfo}]]*/{};
		</script>



		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script nonce="rAnd0m" async
			src="https://www.googletagmanager.com/gtag/js?id=UA-89386027-24"></script>
		<script nonce="rAnd0m">
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-89386027-24');
</script>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<a href="/"><img class="navbar-brand"
						src="/images/caregiver-logo-full.png"
						alt="CaregiverSaathi Full Logo" /></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li th:if="${session.userInfo == null}"><a
							th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
								Login (for Volunteer / Admin only)</a></li>
						<li
							th:if="${session.userInfo != null && session.userInfo !=  undefined && session.userInfo != '' }"><a
							th:href="@{/logout}"><span
								class="glyphicon glyphicon-log-out"></span> Logout</a></li>

						<li
							th:if="${session.userInfo != null && session.userInfo.role_name == 'Admin' }"><a
							th:href="@{/admin/leadsApprovals}"><span
								class="glyphicon glyphicon-star"></span> Admin</a></li>

						<li
							th:if="${session.userInfo != null && (session.userInfo.role_name == 'Admin' || session.userInfo.role_name == 'Volunteer') }"><a
							th:href="@{/leads}"><span class="glyphicon glyphicon-plus"></span>
								Submit Verified Leads</a></li>


						<li th:if="${session.userInfo == null}"><a
							th:href="@{/register}"><span class="glyphicon glyphicon-user"></span>
								Sign up as volunteer</a></li>
						<!-- li><a th:href="@{/register}">Sign Up as a vendor</a></li-->
						<li><a
							href="https://pages.razorpay.com/caregiversaathi-donation"
							target="_blank"><span class="glyphicon glyphicon-piggy-bank"></span>
								Donate</a></li>
						<li><a th:href="@{/disclaimer}"><span
								class="glyphicon glyphicon-exclamation-sign"></span> Disclaimer</a></li>
						<!-- <li><a id="share-tag" href="#" class="share"> <span
								class="glyphicon glyphicon-share"></span> Share
						</a></li> -->
						<li><a th:href="@{/contact-us}"><span
								class="glyphicon glyphicon-phone"></span> Contact Us</a></li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<script nonce="rAnd0m" type="text/javascript">
			$(document).ready(function() {
				$("#share-tag").click(function(){
					return share();
				});	
			});

			function share() {
			const title = window.document.title;
			const url = window.document.location.href;
				if(navigator.share) {
					navigator.share({
						title : title,
						url : url
					}).then((result) => {
					}) .catch((e) => {
						console.log(e);
					})
				} else {
					console.log("cannot share");
				}
			}
 		</script>
	</div>
</body>
</html>