<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="service_sidebar">
		<!--		<div class="container-fluid">-->
		<!--			<form class="form-horizontal">-->
		<!--				<div class="form-group">-->
		<!--					<div class="input-group">-->
		<!--						<input type="text" class="form-control" id="search"-->
		<!--							placeholder="Services">-->
		<!--						<div class="input-group-addon">-->
		<!--							<span class="glyphicon glyphicon-search"></span>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</form>-->
		<!--		</div>-->
		<ul class="list-group">
			<th:block th:each="service : ${services}">
				<li class="list-group-item"><a
					th:href="@{'/service/' + ${service.service_id}}"
					th:text="${service.service_name}"></a></li>
			</th:block>
		</ul>
	</div>
	<div th:fragment="admin_sidebar" id="admin-sidebar">
		<ul class="list-group">
			<li class="list-group-item" id="userApprovals">Approve
				Users</li>
			<li class="list-group-item" id="approvals-menu-item">Approve
				Leads</li>
			<li class="list-group-item" id="disease-menu-item">Disease</li>
			<li class="list-group-item" id="service-menu-item">Service</li>
			<li class="list-group-item" id="performance-menu-item">Performance</li>
		</ul>
		<script nonce="rAnd0m" th:inline="javascript">
			var activeAdminSidebar = /*[[${active_admin_sidebar}]]*/"";
			$("#" + activeAdminSidebar).addClass('active');

			$(document).ready(function() {
				$("#userApprovals").click(function() {
					location.href = '/admin/registrationApproval';
				});
				$("#approvals-menu-item").click(function() {
					location.href = '/admin/leadsApprovals';
				});
				$("#disease-menu-item").click(function() {
					location.href = '/admin/disease/list';
				});
				$("#service-menu-item").click(function() {
					location.href = '/admin/service/list';
				});
				$("#performance-menu-item").click(function() {
					location.href = '/admin/volunteer-performance';
				});
			});
		</script>
	</div>
</body>
</html>