@font-face {
	font-family: Gotham-Medium;
	src: url("../fonts/Gotham-Medium.otf");
}

body {
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
}

* {
	font-family: Gotham-Medium;
}

.navbar-brand {
	padding: 8px;
}

.navbar-default {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: #713B64;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #713B64;
}

.navbar-default .navbar-nav>li>a {
	color: #713B64;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

h1, h2, body {
	color: black;
}

.termsandconditions {
	height: 175px;
	overflow-y: scroll;
	width: 100%;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0px;
	overflow-y: scroll;
	line-height: 175%;
}

/*dummy {*/

/*	color: #713B64;*/
/*	color: #D0BED0;*/
/*	color: #956C94;*/
/*	color: #0193A1;*/
/*	color: #A783A5;*/
/*	color: #815581;*/
/*	color: #FCFAFB;*/
/*	color: #DCCEDB;*/
/*	color: #B3D5D9;*/
/*	color: #5FA0A7;*/
/*	color: #E5E5E5;*/
/*	color: #E7CDE6;*/
/*	color: #FFFFFF;*/
/*}*/
.nav.navbar-nav.navbar-right li a {
	color: #4F0A4B;
	font-family: Gotham-Medium !important;
}

.active-title {
	background-color: #f0e6ef;
	border: solid 1px #d3b6d0;
	border-radius: 10px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
	{
	background-color: #4F0A4B;
	border-color: #713B64;
}

#vendor-list>.list-group-item>a {
	width: 100%;
}

#vendor-list>.list-group-item>a:hover {
	text-decoration: none;
}

#vendor-list>.list-group-item>a>.badge {
	float: right;
}

#vendor-list-details h5 {
	text-align: right;
}

#detail-panel-main .panel-body {
	padding-bottom: 0;
}

#detail-panel-secondary p.tel {
	text-align: center;
	padding-top: 10px;
}

.multiselect-container>li>a>label {
	padding: 4px 20px 4px 40px;
}

select[multiple='multiple'] ~ div.btn-group {
	width: 100%;
	text-align: left;
}

button.multiselect {
	width: 100%;
	text-align: left;
}

button.multiselect>.caret {
	float: right;
	margin-top: 8px;
}

#custom-service-input .attribute-row {
	padding: 5px 15px;
}

#add-row-button {
	margin: 10px 0px 15px 5px;
}

#add-row {
	margin-bottom: 10px;
}

#submit-row {
	text-align: center;
}

#submit-disease-row {
	text-align: center;
}

.switch {
	float: right;
	position: relative;
	width: 40px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #956C94;
}

input:focus+.slider {
	box-shadow: 0 0 1px #A783A5;
}

input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#admin-sidebar li {
	cursor: pointer;
}

#cities, #diseases, #vendors, #states {
	width: 100% !important;
}

.dropdown-menu {
	width: 100% !important;
	/* change the number to whatever that you need */
}

.sidebar {
	color: #4F0A4B !important;
}

.list-group a, .list-group a:link, .list-group a:visited, .list-group a:hover,
	.list-group a:active {
	color: #713B64;
	background-color: transparent;
	text-decoration: none;
}

a:link {
	color: #713B64;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	/*color: #A783A5;*/
	color: #713B64;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #4F0A4B;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: #815581;
	background-color: transparent;
	text-decoration: underline;
}

.not-found {
	display: none;
	margin-left: 1rem;
}

.vendorEditForm {
	display: none;
}

.modal .modal-title {
	display: inline;
}

#vendor-list {
	height: 700px;
	overflow-x: hidden;
	overflow-y: auto;
}

@media ( min-width : 768px) {
	#vendor-list {
		height: 600px;
	}
}

@media ( min-width : 983px) {
	#vendor-list {
		height: 650px;
	}
}

@media ( min-width : 1115px) {
	#vendor-list {
		height: 700px;
	}
}

a.no-text-decoration {
	text-decoration: none;
}

a.color-change {
	color: darkblue;
}

h5.inline {
	display: inline;
}

div.half-width {
	width: 50%;
}

div.font-style {
	font-size: medium;
}

p.font-style {
	font-size: 250%;
	color: black;
	text-align: center;
}

span.margin {
	margin-left: 1%;
}

#adv-filter .col-xs-12 {
	padding: 10px 15px;
}

.hidden-time {
	display: none;
}