<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png"
	href="./images/favicon-16.png?alt=media" sizes="16x16">
<link rel="icon" type="image/png"
	href="./images/favicon-32.png?alt=media" sizes="32x32">
<meta charset="UTF-8">
<title>CaregiverSaathi - Submit Verified Leads</title>

<style nonce="raNd0m">
.col-md-6, .col-md-12 {
	padding-bottom: 10px;
}

#existingVendor {
	margin-left: 10px;
}

.service-attributes {
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	margin-top: 5px;
	padding: 15px;
}
</style>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h4 class="text-center">Vendor Details</h4>
		<div class="container-fluid">
			<form class="form-horizontal" method="post">

				<input type="hidden" class="form-control" name="vendor_id"
					id="vendor_id" disabled th:value="${vendorId}" />
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<input class="form-check-input" type="radio"
							name="newExistingVendor" id="newVendor" checked value="new">
						<label class="form-check-label" for="newVendor"> New
							Vendor </label> <input class="form-check-input" type="radio"
							name="newExistingVendor" id="existingVendor" value="existing">
						<label class="form-check-label" for="existingVendor">
							Existing Vendor </label>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-md-6">
						<label for="vendor-state">Vendor State</label> <select
							class="form-control" id="vendor-state" name="service-types">
							<option value="Select state">Select state</option>
							<option th:each="state : ${states}" th:value="${state}"
								th:label="${state}" th:text="${state}"></option>
						</select>
					</div>
					<div class="col-xs-12 col-md-6">
						<label for="vendor-city">City</label> <select class="form-control"
							id="vendor-city" name="service-types">
							<option value="Select city">Select city</option>
						</select>
					</div>
					<div class="col-xs-12 col-md-6" id="vendor-name-textbox-col">
						<label for="vendor-name">Vendor Name</label> <input type="text"
							class="form-control" name="vendor-name" id="vendor-name">
					</div>
					<div class="col-xs-12 col-md-6 vendorEditForm"
						id="vendor-name-dropdown-col">
						<label for="vendor-name-dropdown">Vendor Name</label><select
							class="form-control" id="vendor-name-dropdown"
							name="vendor-name-dropdown"></select>
					</div>
					<div class="col-xs-12 col-md-6">
						<label for="vendor-contact-no">Contact Number</label> <input
							type="number" class="form-control" name="vendor-contact-no"
							id="vendor-contact-no">
					</div>
					<div class="col-xs-12 col-md-6">
						<label for="vendor-address">Vendor Address</label> <input
							type="text" class="form-control" name="vendor-address"
							id="vendor-address">
					</div>
					<div class="col-xs-12 col-md-6">
						<label for="vendor-pincode">Vendor Pincode</label> <input
							type="text" class="form-control" name="vendor-pincode"
							id="vendor-pincode" required>
					</div>
					<div class="col-xs-12 col-md-6">
						<label for="service-types">Service Type</label> <select
							class="form-control" id="service-types" name="service-types">
							<option value="Select a service">Select a service</option>
							<option th:each="service : ${services}"
								th:value="${service.service_id}"
								th:label="${service.service_name}"
								th:text="${service.service_name}"></option>
						</select>
					</div>
					<div class="col-xs-12 col-md-6">

						<label for="disease-types">Disease Type</label> <select
							class="form-control" id="disease-types" name="disease-types">
							<option th:each="disease : ${diseases}"
								th:value="${disease.disease_id}"
								th:label="${disease.disease_name}"
								th:text="${disease.disease_name}"></option>
						</select>
					</div>
					<div class="col-xs-12 col-md-12">
						<div class="service-attributes"></div>
					</div>
					<div class="col-xs-12 col-md-6">
						<label for="service-verified-date">Last Verification Date</label>
						<input type="date" class="form-control"
							name="service-verified-date" id="service-verified-date">
					</div>


					<div class="col-xs-12 col-md-6">
						<label for="volunteer-id">Volunteer ID</label> <input type="text"
							class="form-control" name="volunteer-id" id="volunteer-id"
							disabled th:value="${session.userInfo.email_id}">
					</div>
					<div class="col-xs-12 col-md-12">
						<label for="service-remark">Additional Remarks</label> <input
							type="text" class="form-control" name="service-remark"
							id="service-remark">
					</div>
				</div>
				<div class="row" id="submit-row">
					<div class="col-xs-12 col-md-12">
						<br /> <input id="add-volunteer-button" type="button"
							class="btn btn-primary" value="Submit"> <input
							id="cancel-button" type="button" class="btn btn-danger"
							value="Cancel">
						<!-- TODO: Check how to re-direct -->
					</div>
				</div>

			</form>
		</div>

		<script nonce="rAnd0m" th:inline="javascript">
			var pageData = /*[[${pageData}]]*/{};
			var vendor = /*[[${vendor}]]*/null;

			function getExisitingVendorData() {

				var typeOfVendor = $("input[name='newExistingVendor']:checked")
						.val();
				// alert(typeOfVendor);
				if (typeOfVendor === 'existing') {

					var city_id = $('#vendor-city').val();
					// alert(city_id);
					$
							.ajax({
								url : '/ajax/getExistingVendors',
								type : 'POST',
								data : {
									"city_id" : city_id
								},
								success : function(result) {
									result = JSON.parse(result);
									if (result.length == 0) {
										$('#vendor-name-dropdown-col').hide();
										$('#vendor-name-textbox-col').show();
										$('#vendor-address').val("");
										$('#vendor-pincode').val("");
										$('#vendor-contact-no').val("");
										$('#vendor-name').val(
												'No Vendor available');
										$('#vendor-name')
												.attr('disabled', true);
									} else {
										$('#vendor-name-textbox-col').hide();
										$('#vendor-name-dropdown').empty();
										$('#vendor-name-dropdown-col').show();
										for (var i = 0; i < result.length; i++) {
											var option = "<option value = " + result[i].vendor_id + ">"
													+ result[i].vendor_name
													+ "</option>";
											$('#vendor-name-dropdown').append(
													option);
										}
										if (vendor != null) {
											// pre populate vendor
											$('#vendor-name-dropdown').val(
													vendor.vendor_id);
										}

										getExistingVendorDetails();
									}

								},
								error : function(e) {
									console.log(e);
								}
							})
				}
			}

			function getExistingVendorDetails() {
				var vendor_id = $('#vendor-name-dropdown').val();
				$.ajax({
					url : '/ajax/getExisitingVendorsDetails',
					type : 'POST',
					data : {
						"vendor_id" : vendor_id
					},
					success : function(vendorData) {
						vendorData = JSON.parse(vendorData);
						if (vendorData.length == 0) {
							$('#vendor-address').val("");
							$('#vendor-pincode').val("");
							$('#vendor-contact-no').val("");
						}
						$('#vendor-address').val(vendorData[0].address);
						$('#vendor-pincode').val(vendorData[0].pincode);
						$('#vendor-contact-no').val(vendorData[0].contact_no);
						showServiceAttributes();
					}
				})
			}

			function init() {
				var now = new Date();
				maxDate = now.toISOString().substring(0, 10);
				$('#service-verified-date').attr('max', maxDate);
				$('#vendor-city').on("change", function() {
					getExisitingVendorData();
				});
				showServiceAttributes();
				document.getElementById('service-verified-date').valueAsDate = new Date();
				if (vendor != null) {
					// pre populate vendor
					$('#vendor-name').val(vendor.vendor_name);
					$('#vendor-name').attr('disabled', true);
					$('#vendor-address').val(vendor.address);
					$('#vendor-address').attr('disabled', true);
					$('#vendor-pincode').val(vendor.pincode);
					$('#vendor-pincode').attr('disabled', true);
					$('#vendor-contact-no').val(vendor.contact_no);
					$('#vendor-contact-no').attr('disabled', true);
					$('#newVendor').attr('disabled', true);
					$('#existingVendor').attr('checked', true);
					populateStates(false, 'vendor-state', 'vendor-city',
							vendor.city_state, vendor.city_id);
					$('#vendor-state').prop("disabled", true);
					$('#vendor-city').prop("disabled", true);
					$("#disease-types").val(pageData.diseaseId);
					$("#disease-types").change();
				}
				if (null != pageData) {
					if (null != pageData.serviceId) {
						var serviceId = pageData.serviceId;
						$("#service-types").val(serviceId);
						showServiceAttributes();
					}
					if (null != pageData.service_id) {
						var serviceId = pageData.service_id;
						$("#service-types").val(serviceId);
						showServiceAttributes();
					}
				}
			}

			function handleVendor(vendor) {
				var typeOfVendor = $("input[name='newExistingVendor']:checked")
						.val()
				if (typeOfVendor === "existing") {
					$('#vendor-name').attr('disabled', true);
					$('#vendor-address').attr('disabled', true);
					$('#vendor-contact-no').attr('disabled', true);
					$('#vendor-pincode').attr('disabled', true);
					getExisitingVendorData();
				} else {
					//window.location.reload();
					$('#vendor-name').attr('disabled', false);
					$('#vendor-address').attr('disabled', false);
					$('#vendor-contact-no').attr('disabled', false);
					$('#vendor-pincode').attr('disabled', false);
					$('#vendor-name').val('');
					$('#vendor-address').val('');
					$('#vendor-contact-no').val('');
					$('#vendor-pincode').val('');
					$('#vendor-name-dropdown-col').hide();
					$('#vendor-name-textbox-col').show();
					$('#vendor-name-textbox-col').val('');
				}
			}

			$(document).ready(function() {
				init();
			});

			function showServiceAttributes() {
				var service = $('#service-types').val();
				var disease = $('#disease-types').val();
				if (service == "Select a service") {
					$('.service-attributes').hide();
				} else {
					vendorIdVisible = $('#vendor-name-dropdown-col').is(
							":visible");
					if (vendor != null || (vendorIdVisible)) {
						// populate service attributes & diseases  for existing vendor.
						var vendor_id;
						var data = {};
						if (vendorIdVisible) {
							vendor_id = $('#vendor-name-dropdown').val();
							data.serviceId = service;
							data.diseaseId = disease;
							data.vendorId = vendor_id;
						} else {
							data.serviceId = service;
							data.diseaseId = disease;
							data.vendorId = vendor.vendor_id;
						}
						$
								.ajax({
									type : 'POST',
									url : '/leads/edit/serviceAttributes',
									data : data,
									success : function(result) {
										var ajaxResult = result;
										if (ajaxResult === "[]") {
											// show blank new field.
											$
													.ajax({
														type : 'POST',
														url : '/leads/service/serviceAttributes',
														data : {
															"serviceId" : service
														},
														success : function(
																serviceAttributes) {
															serviceAttributeAjax(
																	serviceAttributes,
																	false,
																	ajaxResult);
														},
														error : function(
																serviceAttributeError) {
															console
																	.log("Service Attribute Fetching Error: "
																			+ JSON
																					.stringify(serviceAttributeError));
														}
													})
										} else {
											// show vendor's previously added data.
											$
													.ajax({
														type : 'POST',
														url : '/leads/service/serviceAttributes',
														data : {
															"serviceId" : service
														},
														success : function(
																serviceAttributes) {
															serviceAttributeAjax(
																	serviceAttributes,
																	true,
																	ajaxResult)
														},
														error : function(
																serviceAttributeError) {
															console
																	.log("Service Attribute Fetching Error: "
																			+ JSON
																					.stringify(serviceAttributeError));
														}
													})
										}
									},
									error : function(error) {
										console
												.log("Erorr in editing lead data: "
														+ JSON.stringify(error));
									}
								});
					} else {
						$
								.ajax({
									type : 'POST',
									url : '/leads/service/serviceAttributes',
									data : {
										"serviceId" : service
									},
									success : function(result) {
										serviceAttributeAjax(result, false,
												result);
									},
									error : function(error) {
										console
												.log("Error while fetching sub attributes. "
														+ JSON.stringify(error));
									}
								});
					}
				}
			}
			function serviceAttributeAjax(serviceAttributes, showPrevious,
					ajaxResult) {
				var serviceAttributes = JSON.parse(serviceAttributes);
				ajaxResult = JSON.parse(ajaxResult);
				if (serviceAttributes.length > 0) {
					$('.service-attributes').hide();
					$('.service-attributes').empty();
					$('.service-attributes').show();
					var div = '';
					if (!showPrevious) {
						for (var i = 0; i < serviceAttributes.length; i++) {
							div = "<div class = 'row'> "
									+ "<div class = 'col-xs-12 col-md-12'>"
									+ "<label for=" + serviceAttributes[i].service_attribute_name + ">"
									+ serviceAttributes[i].service_attribute_name
									+ "</label>"
									+ "<input type='text' class='form-control' name="+ serviceAttributes[i].service_attribute_name + " id="+ serviceAttributes[i].service_attribute_id + ">"
									+ "</div>" + "</div>";
							$('.service-attributes').append(div);
						}
					} else {
						for (var i = 0; i < serviceAttributes.length; i++) {
							div = "<div class = 'row'> "
									+ "<div class = 'col-xs-12 col-md-12'>"
									+ "<label for=" + serviceAttributes[i].service_attribute_name + ">"
									+ serviceAttributes[i].service_attribute_name
									+ "</label>"
									+ "<input type='text' class='form-control' name="+ serviceAttributes[i].service_attribute_name +" + value=" + ajaxResult[i].stock + " + id="+ serviceAttributes[i].service_attribute_id + ">"
									+ "</div>" + "</div>";
							$('.service-attributes').append(div);
						}
					}
				} else {
					$('.service-attributes').hide();
					$('.service-attributes').empty();
					var div = "<div class = 'row' style='padding: 2px; margin: 2px'> "
							+ "<div class = 'col-xs-12 col-md-12'>"
							+ "<span style='color: black'>No Attributes available in the selected option</span> "
							+ "</div>" + "</div>";
					$('.service-attributes').show();
					$('.service-attributes').append(div);
				}
			}
			function addVendor() {
				// getting all form values via jQuery.

				var addType = $("[name='newExistingVendor']:checked").val();

				var volunteerId = $('#volunteer-id').val();
				var vendorId;
				var vendorName
				if (vendorIdVisible = $('#vendor-name-dropdown-col').is(
						":visible")) {
					vendorId = $('#vendor-name-dropdown').val();
					vendorName = $('#vendor-name-dropdown option:selected')
							.text();
					vendorName = vendorName.substring(0, vendorName
							.indexOf("-"));

				} else {
					vendorId = $('#vendor_id').val();
					vendorName = $('#vendor-name').val();
				}

				var state = $('#vendor-state').val();
				var city = $('#vendor-city').val();
				var contactNumber = $('#vendor-contact-no').val();
				var vendorAddress = $('#vendor-address').val();
				var pincode = $('#vendor-pincode').val();
				var serviceType = $('#service-types').val();
				var disease = $('#disease-types').val();

				if (null == vendorName || vendorName == '') {
					alert("Please enter a Vendor Name!");
					return false;
				}

				if (vendorName == 'No Vendor available') {
					alert("No Vendors Available!");
					return false;
				}

				if (null == state || state == 'Select state') {
					alert("Please select a State!");
					return false;
				}

				if (null == city || city == 'Select city') {
					alert("Please select a City!");
					return false;
				}

				if (addType != 'existing') {
					if (null == contactNumber || contactNumber == '') {
						alert("Please enter a Vendor Contact No.!");
						return false;
					}

					if (null == vendorAddress || vendorAddress == '') {
						alert("Please enter a Vendor Address!");
						return false;
					}

					if (null == pincode || pincode == '') {
						alert("Please enter a Pincode!");
						return false;
					}
				}
				
				if($('#service-types').val() == 'Select a service') {
					alert("Please select a Service!");
					return false;					
				}

				var serviceAttributeId = [];
				var stock = [];
				if ($('.service-attributes input[type=text]').length > 0) {
					$('.service-attributes input[type=text]').each(
							function(idx) {
								serviceAttributeId.push($(this).attr("id"));
								stock.push(this.value);
							});
				} else {
					serviceAttributeId.push("No service attribute");
					stock.push(null);
				}

				var remarks = $('#service-remark').val();
				var lastVerifiedDate = $('#service-verified-date').val();
				var jsonData = {
					"volunteerId" : volunteerId,
					"vendorId" : vendorId,
					"vendorName" : vendorName,
					"vendorAddress" : vendorAddress,
					"contactNumber" : contactNumber,
					"state" : state,
					"city" : city,
					"pincode" : pincode,
					"serviceType" : serviceType,
					"disease" : disease,
					"serviceAttributeId" : serviceAttributeId,
					"stock" : stock,
					"remarks" : remarks,
					"lastVerifiedDate" : lastVerifiedDate
				}
				$
						.ajax({
							type : 'POST',
							url : '/leads/submit',
							data : jsonData,
							success : function(result) {
								$('#vendor_id').val(result);
								alert("Lead submitted successfully for admin approval.");
							},
							error : function(e) {
								console.log(e);
							}
						})

			}
		</script>
	</div>

</body>
<script nonce="rAnd0m">
	$(document).ready(function() {
		$("#newVendor").click(function() {
			handleVendor(this);
		});
		$("#existingVendor").click(function() {
			handleVendor(this);
		});
		$("#add-volunteer-button").click(function() {
			return addVendor();
		});
		$("#cancel-button").click(function() {
			window.location.href = '/';
		});
		$("#vendor-name-dropdown").change(function() {
			getExistingVendorDetails();
		});
		$("#vendor-state").change(function() {
			populateCities(false, 'vendor-state', 'vendor-city');
		});
		$("#service-types").change(function() {
			showServiceAttributes();
		});
		$("#disease-types").change(function() {
			showServiceAttributes();
		});
	});
</script>
</html>