<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" charset="utf-8" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Care Directory - Login</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/app.css}" />

<link rel="icon" type="image/png"
	href="./images/favicon-16.png?alt=media" sizes="16x16">
<link rel="icon" type="image/png"
	href="./images/favicon-32.png?alt=media" sizes="32x32">


<script nonce="rAnd0m" type="text/javascript"
	th:src="@{webjars/jquery/3.6.0/jquery.min.js}"></script>

<script nonce="rAnd0m" type="text/javascript"
	th:src="@{webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
<style nonce="raNd0m">
.field-icon {
	float: right;
	margin-right: 3%;
	margin-top: -25px;
	cursor: pointer;
}

.row-margin {
	margin-top: 3%;
}

.displayBadge {
	display: none;
	text-align: center;
}
</style>
</head>

<body>

	<script nonce="rAnd0m" type="text/javascript">
		function togglePassword() {
			var el = document.getElementById("password-field");
			var span = document.getElementById("password-toggle");
			if (el.type === "password") {
				el.type = "text";
				span.classList.remove('glyphicon-eye-open');
				span.classList.add('glyphicon-eye-close');
			} else {
				el.type = "password";
				span.classList.remove('glyphicon-eye-close');
				span.classList.add('glyphicon-eye-open');
			}
		}
	</script>

	<div th:replace="fragments/header :: header"></div>
	<div class="container half-width">

		<!--modal-->
		<div id="pswdModal" class="modal fade" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 class="text-center">Forgot Your Password?</h3>
					</div>
					<div class="modal-body">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="text-center">

										<p>If you have forgotten your password you can mail it to
											yourself from here.</p>
										<p>Please provide the registered Email.</p>
										<div class="panel-body">
											<form th:name="loginForm" th:action="@{/sendPasswordMail}"
												method="post">
												<div class="form-group">
													<input class="form-control input-lg"
														placeholder="E-mail Address" name="emailId" type="email">
												</div>
												<input class="btn btn-lg btn-primary btn-block"
													value="Send My Password" type="submit">
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">
							<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="d-flex justify-content-center">
			<!--<h1 class="text-center">Login</h1>-->
			<p class="font-style">Sign In</p>
			<div class="container-fluid text-center">
				<form th:name="loginForm" th:action="@{/login}"
					th:object="${userModel}" method="post">
					<div th:if="${error}" class="alert alert-danger">
						[[${error}]]</div>
					<div th:if="${param.logout}" class="alert alert-info">You
						have been logged out.</div>

					<div class="row">
						<input type="email" class="form-control text-lowercase"
							name="emailId" id="emailId" th:value="${emailId}"
							placeholder="e-mail" autofocus="autofocus" required />
					</div>

					<div class="row row-margin">
						<input type="password" class="form-control" name="password"
							id="password-field" th:value="${password}" placeholder="password"
							required /> <span id="password-toggle"
							class="glyphicon glyphicon-eye-open glyphicon-eye-close field-icon"></span>
					</div>

					<div class="row row-margin">
						<button type="submit" class="btn btn-success btn base-button mt-6">Login</button>
					</div>
					<div class="row row-margin font-style">
						<a href="#" data-target="#pswdModal" data-toggle="modal"
							class="color-change">Forgot Password?</a>
					</div>
					<div class="mb-3 row font-style">
						<a href="./register" class="color-change">Need an account with
							us ? Sign Up<span class="glyphicon glyphicon-hand-right margin"></span>
						</a>
					</div>

				</form>
			</div>

		</div>
	</div>


</body>
<script nonce="rAnd0m">
	$(document).ready(function() {
		$("#password-toggle").click(function() {
			togglePassword();
		});
	});
</script>